.widget-importantPartSwitch + .widget,
.widget-aspectRatioSwitch + .widget {
    clear: both;
}

.widget-importantPartSwitch + .widget:before,
.widget-aspectRatioSwitch + .widget:before {
    content: "";
    display: table;
}
